@import "./normalize.css";

html {
  font-size: 18px;
}

body {
  font-size: 1rem;

  font-family: monospace;
  background-color: #181818;
  color: #eeeeee;
}

h1 {
  color: green;
}

#root {
  max-width: 90vw;
  margin: 0 auto;
}

.viewport {
}

.thread-list {
}

.meta {
  color: turquoise;
}

.meta p {
  margin: 0;
  padding: 0;
}

p.attachment {
  margin-top: 1rem;
  color: yellow;
}

p.type {
  margin-bottom: 1rem;
  color: yellow;
}

pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.hidden {
  display: none;
}

.text-after {
  margin-right: 2em;
}

.align-right {
  text-align: right;
}

ul {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

footer {
  background-color: #323232;
  margin-top: auto;
  bottom: 0;
}

li {
  cursor: pointer;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

li label {
  padding: 0 10px;
}

.active-thread {
  background-color: #eeeeee;
  color: #181818;
}
